University of Wollong (UOW)  
CSCI991 Project Spring 2019  
Team B  

<em>Peng TIAN, pt882@uowmail.edu.au</em>

# Split the original train data set to new train and new test data set

<strong>Why?</strong>

<em>We do not have the labels for test dataset. We need labels for <strong>validation and testing</strong> of our model.</em>
<br/>
<br/>
<br/>

According to <a href='002_rxrx1_exploration.ipynb#training_testing'>002_rxrx1_exploration.ipynb</a><sup>[1]</sup>:

<em>Original train and test date set:</em>

|cell |train|test|
|----:|:--:|:--:|
|HEPG |HEPG2-01 ... HEPG2-11|HEPG2-08 ... HEPG2-11|
|HUVEC|HUVEC-01 ... HUVEC-24|HUVEC-11 ... HUVEC-24|
|RPE  |RPE-01 ... RPE-11|RPE-08 ... RPE-11|
|U2OS |U2OS-01 ... U2OS-05|U2OS-04 ... U2OS-05|

<strong>Spliting strategy:</strong>

|cell |train|test|
|----:|:--:|:--:|
|HEPG |HEPG2-01 ... HEPG2-05|HEPG2-06, HEPG2-07|
|HUVEC|HUVEC-01 ... HUVEC-07|HUVEC-08 ... HUVEC-10|
|RPE  |RPE-01 ... RPE-05|RPE-06, RPE-07|
|U2OS |U2OS-01, U2OS-02|U2OS-03|
         
         
<strong>References:</strong>

<ol>
    <li><a href='002_rxrx1_exploration.ipynb'>002_rxrx1_exploration.ipynb</a></li>
</ol>

In [1]:
import sys
import os
import pandas as pd

In [2]:
import rxrx.io as rio

C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Peng\Anaconda3\envs\tensorflow_gpuenv 1.13.1\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
TRAIN = ['HEPG2-01', 'HEPG2-02', 'HEPG2-03', 'HEPG2-04', 'HEPG2-05',
         'HUVEC-01', 'HUVEC-02', 'HUVEC-03', 'HUVEC-04', 'HUVEC-05', 'HUVEC-06', 'HUVEC-07',
         'RPE-01', 'RPE-02', 'RPE-03', 'RPE-04', 'RPE-05',
         'U2OS-01', 'U2OS-02']

In [4]:
TEST = ['HEPG2-06', 'HEPG2-07',
         'HUVEC-08', 'HUVEC-09', 'HUVEC-10',
         'RPE-06', 'RPE-07',
         'U2OS-03']

In [5]:
# Ref:
#     rxrx/io.py, line: 14, 15

LOCAL_IMAGES_BASE_PATH = 'D:\\_peng\\recursion-cellular-image-classification'  # windows
DEFAULT_METADATA_BASE_PATH = os.path.join(LOCAL_IMAGES_BASE_PATH, 'metadata_original')
NEW_METADATA_BASE_PATH = os.path.join(LOCAL_IMAGES_BASE_PATH, 'metadata')

<strong>sample_submission.csv</strong>

In [6]:
df_sample_submission = pd.read_csv(os.path.join(DEFAULT_METADATA_BASE_PATH, 'sample_submission.csv'))

In [7]:
df_sample_submission.head()

          id_code  sirna
0  HEPG2-08_1_B03    911
1  HEPG2-08_1_B04    911
2  HEPG2-08_1_B05    911
3  HEPG2-08_1_B06    911
4  HEPG2-08_1_B07    911

<strong>Combining competition metadata</strong>

In [8]:
# train.csv, train_controls.csv, test.csv, test_controls.csv

md = rio.combine_metadata(base_path=DEFAULT_METADATA_BASE_PATH)

In [9]:
md.head(n=6)

,cell_type,dataset,experiment,plate,sirna,site,well,well_type
id_code,,,,,,,,
HEPG2-08_1_B02,HEPG2,test,HEPG2-08,1,1138.0,1,B02,negative_control
HEPG2-08_1_B02,HEPG2,test,HEPG2-08,1,1138.0,2,B02,negative_control
HEPG2-08_1_B03,HEPG2,test,HEPG2-08,1,NaN,1,B03,treatment
HEPG2-08_1_B03,HEPG2,test,HEPG2-08,1,NaN,2,B03,treatment
HEPG2-08_1_B04,HEPG2,test,HEPG2-08,1,NaN,1,B04,treatment
HEPG2-08_1_B04,HEPG2,test,HEPG2-08,1,NaN,2,B04,treatment

<br/>
<br/>
<br/>
<em>Summary of sample_submission.csv and combing metadata:</em>
<ul>
    <li>id_code: experiment_plate_well</li>
    <li>Every well has 2 sites, every site has 6 channels. The 12 images be considered as a whole</li>
</ul>
<br/>
<br/>
<br/>

<strong>Split original train to new train and new test : train.csv, train_controls.csv, test.csv, test_controls.csv</strong>

In [10]:
train = pd.read_csv(os.path.join(DEFAULT_METADATA_BASE_PATH, 'train.csv'))

In [11]:
train

              id_code experiment  plate well  sirna
0      HEPG2-01_1_B03   HEPG2-01      1  B03    513
1      HEPG2-01_1_B04   HEPG2-01      1  B04    840
2      HEPG2-01_1_B05   HEPG2-01      1  B05   1020
3      HEPG2-01_1_B06   HEPG2-01      1  B06    254
4      HEPG2-01_1_B07   HEPG2-01      1  B07    144
...               ...        ...    ...  ...    ...
36510   U2OS-03_4_O19    U2OS-03      4  O19    103
36511   U2OS-03_4_O20    U2OS-03      4  O20    202
36512   U2OS-03_4_O21    U2OS-03      4  O21    824
36513   U2OS-03_4_O22    U2OS-03      4  O22    328
36514   U2OS-03_4_O23    U2OS-03      4  O23    509

[36515 rows x 5 columns]

In [12]:
train['experiment'].value_counts().sort_index()

HEPG2-01    1106
HEPG2-02    1106
HEPG2-03    1108
HEPG2-04    1108
HEPG2-05    1108
HEPG2-06    1108
HEPG2-07    1106
HUVEC-01    1108
HUVEC-02    1108
HUVEC-03    1108
HUVEC-04    1108
HUVEC-05    1108
HUVEC-06    1107
HUVEC-07    1107
HUVEC-08    1108
HUVEC-09    1108
HUVEC-10    1108
HUVEC-11    1108
HUVEC-12    1108
HUVEC-13    1102
HUVEC-14    1090
HUVEC-15    1094
HUVEC-16    1108
RPE-01      1108
RPE-02      1108
RPE-03      1108
RPE-04      1107
RPE-05      1108
RPE-06      1106
RPE-07      1108
U2OS-01     1108
U2OS-02     1108
U2OS-03     1108
Name: experiment, dtype: int64

In [13]:
train_new = train[train['experiment'].isin(TRAIN)]

In [14]:
train_new['experiment'].value_counts().sort_index()

HEPG2-01    1106
HEPG2-02    1106
HEPG2-03    1108
HEPG2-04    1108
HEPG2-05    1108
HUVEC-01    1108
HUVEC-02    1108
HUVEC-03    1108
HUVEC-04    1108
HUVEC-05    1108
HUVEC-06    1107
HUVEC-07    1107
RPE-01      1108
RPE-02      1108
RPE-03      1108
RPE-04      1107
RPE-05      1108
U2OS-01     1108
U2OS-02     1108
Name: experiment, dtype: int64

In [15]:
train_new.to_csv(os.path.join(NEW_METADATA_BASE_PATH, 'train.csv'), index=False, header=True)

In [16]:
test_new = train[train['experiment'].isin(TEST)]

In [17]:
test_new['experiment'].value_counts().sort_index()

HEPG2-06    1108
HEPG2-07    1106
HUVEC-08    1108
HUVEC-09    1108
HUVEC-10    1108
RPE-06      1106
RPE-07      1108
U2OS-03     1108
Name: experiment, dtype: int64

In [18]:
test_new = test_new.drop(columns='sirna')

In [19]:
test_new.head()

             id_code experiment  plate well
5536  HEPG2-06_1_B03   HEPG2-06      1  B03
5537  HEPG2-06_1_B04   HEPG2-06      1  B04
5538  HEPG2-06_1_B05   HEPG2-06      1  B05
5539  HEPG2-06_1_B06   HEPG2-06      1  B06
5540  HEPG2-06_1_B07   HEPG2-06      1  B07

In [20]:
test_new.to_csv(os.path.join(NEW_METADATA_BASE_PATH, 'test.csv'), index=False, header=True)

In [21]:
train_controls = pd.read_csv(os.path.join(DEFAULT_METADATA_BASE_PATH, 'train_controls.csv'))

In [22]:
train_controls['experiment'].value_counts().sort_index()

HEPG2-01    126
HEPG2-02    126
HEPG2-03    124
HEPG2-04    124
HEPG2-05    124
HEPG2-06    124
HEPG2-07    124
HUVEC-01    124
HUVEC-02    124
HUVEC-03    124
HUVEC-04    124
HUVEC-05    124
HUVEC-06    124
HUVEC-07    125
HUVEC-08    124
HUVEC-09    124
HUVEC-10    124
HUVEC-11    124
HUVEC-12    124
HUVEC-13    122
HUVEC-14    126
HUVEC-15    122
HUVEC-16    124
RPE-01      124
RPE-02      124
RPE-03      124
RPE-04      124
RPE-05      124
RPE-06      126
RPE-07      124
U2OS-01     124
U2OS-02     124
U2OS-03     124
Name: experiment, dtype: int64

In [23]:
train_controls_new = train_controls[train_controls['experiment'].isin(TRAIN)]

In [24]:
train_controls_new['experiment'].value_counts().sort_index()

HEPG2-01    126
HEPG2-02    126
HEPG2-03    124
HEPG2-04    124
HEPG2-05    124
HUVEC-01    124
HUVEC-02    124
HUVEC-03    124
HUVEC-04    124
HUVEC-05    124
HUVEC-06    124
HUVEC-07    125
RPE-01      124
RPE-02      124
RPE-03      124
RPE-04      124
RPE-05      124
U2OS-01     124
U2OS-02     124
Name: experiment, dtype: int64

In [25]:
train_controls_new.to_csv(os.path.join(NEW_METADATA_BASE_PATH, 'train_controls.csv'), index=False, header=True)

In [26]:
test_cntrols_new = train_controls[train_controls['experiment'].isin(TEST)]

In [27]:
test_cntrols_new['experiment'].value_counts().sort_index()

HEPG2-06    124
HEPG2-07    124
HUVEC-08    124
HUVEC-09    124
HUVEC-10    124
RPE-06      126
RPE-07      124
U2OS-03     124
Name: experiment, dtype: int64

In [28]:
test_cntrols_new.to_csv(os.path.join(NEW_METADATA_BASE_PATH, 'test_controls.csv'), index=False, header=True)